doctype html5
html(lang="en")
  head
    title= title
  body
  img.ioticon(src='images/logo1.jpg', alt='IoTF Icon' width="160" height="140")
  h1.iottext.iothead=title
  block signout
  br
  br
  section
    block content